# **Data Information Quality Project**


*  ID Project:  3
*  ID Person:   10104067
*  Dataset:     1

![image.png]()

# **1. Data Exploration and Data Quality Assessment**

Import libraries:

In [2]:
import pandas as pd
import numpy as np

Import data:

In [6]:
MOVIES = pd.read_csv("https://raw.githubusercontent.com/lukamath/DIQ_Project/master/movies.csv")
MOVIES

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN
4,Army of Thieves,(2021),"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
9994,The Imperfects,(2021– ),"\nAdventure, Drama, Fantasy",NaN,\nAdd a Plot\n,\n \n Stars:\nMorgan Taylor Camp...,NaN,NaN,NaN
9995,Arcane,(2021– ),"\nAnimation, Action, Adventure",NaN,\nAdd a Plot\n,\n,NaN,NaN,NaN
9996,Heart of Invictus,(2022– ),"\nDocumentary, Sport",NaN,\nAdd a Plot\n,\n Director:\nOrlando von Einsiedel\n| \n ...,NaN,NaN,NaN
9997,The Imperfects,(2021– ),"\nAdventure, Drama, Fantasy",NaN,\nAdd a Plot\n,\n Director:\nJovanka Vuckovic\n| \n Sta...,NaN,NaN,NaN
9998,The Imperfects,(2021– ),"\nAdventure, Drama, Fantasy",NaN,\nAdd a Plot\n,\n Director:\nJovanka Vuckovic\n| \n Sta...,NaN,NaN,NaN

Basic operation to inspect data:

In [7]:
#number of tuples and columns of the data source
MOVIES.shape

(9999, 9)

In [11]:
#show the schema of the data source
MOVIES.columns

Index(['MOVIES', 'YEAR', 'GENRE', 'RATING', 'ONE-LINE', 'STARS', 'VOTES',
       'RunTime', 'Gross'],
      dtype='object')

In [12]:
#head(K) shows the first K lines of the data source
MOVIES.head(20)

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN
4,Army of Thieves,(2021),"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN
5,Outer Banks,(2020– ),"\nAction, Crime, Drama",7.6,\nA group of teenagers from the wrong side of ...,"\n \n Stars:\nChase Stokes, \nMa...","25,858",50.0,NaN
6,The Last Letter from Your Lover,(2021),"\nDrama, Romance",6.8,\nA pair of interwoven stories set in the past...,\n Director:\nAugustine Frizzell\n| \n S...,"5,283",110.0,NaN
7,Dexter,(2006–2013),"\nCrime, Drama, Mystery",8.6,"\nBy day, mild-mannered Dexter is a blood-spat...","\n \n Stars:\nMichael C. Hall, \...","665,387",53.0,NaN
8,Never Have I Ever,(2020– ),\nComedy,7.9,\nThe complicated life of a modern-day first g...,\n \n Stars:\nMaitreyi Ramakrish...,"34,530",30.0,NaN
9,Virgin River,(2019– ),"\nDrama, Romance",7.4,"\nSeeking a fresh start, nurse practitioner Me...",\n \n Stars:\nAlexandra Breckenr...,"27,279",44.0,NaN
10,Gunpowder Milkshake,(2021),"\nAction, Adventure, Thriller",6.0,\nThree generations of women fight back agains...,\n Director:\nNavot Papushado\n| \n Star...,"17,989",114.0,NaN
11,Lucifer,(2016–2021),"\nCrime, Drama, Fantasy",8.1,\nLucifer Morningstar has decided he's had eno...,"\n \n Stars:\nTom Ellis, \nLesle...","264,222",42.0,NaN
12,Fear Street: 1994,(2021),"\nDrama, Horror, Mystery",6.2,\nA circle of teenage friends accidentally enc...,\n Director:\nLeigh Janiak\n| \n Stars:\...,"50,148",107.0,NaN
13,Sex/Life,(2021– ),"\nComedy, Drama, Romance",5.4,\nA suburban mother of two takes a fantasy-cha...,"\n \n Stars:\nSarah Shahi, \nMik...","12,172",NaN,NaN
14,American Horror Story,(2011– ),"\nDrama, Horror, Thriller",8.0,\nAn anthology series centering on different c...,"\n \n Stars:\nLady Gaga, \nKathy...","286,488",60.0,NaN
15,Grey's Anatomy,(2005– ),"\nDrama, Romance",7.5,\nA drama centered on the personal and profess...,"\n \n Stars:\nEllen Pompeo, \nCh...","266,258",41.0,NaN
16,Breaking Bad,(2008–2013),"\nCrime, Drama, Thriller",9.4,\nA high school chemistry teacher diagnosed wi...,"\n \n Stars:\nBryan Cranston, \n...","1,552,311",49.0,NaN
17,The Good Doctor,(2017– ),\nDrama,8.1,"\nShaun Murphy, a young surgeon with autism an...","\n \n Stars:\nFreddie Highmore, ...","70,871",41.0,NaN
18,Atypical,(2017–2021),"\nComedy, Drama",8.3,"\nSam, an 18-year-old on the autism spectrum, ...",\n \n Stars:\nJennifer Jason Lei...,"71,544",30.0,NaN
19,Stranger Things,(2016– ),"\nDrama, Fantasy, Horror",8.7,"\nWhen a young boy disappears, his mother, a p...",\n \n Stars:\nMillie Bobby Brown...,"885,856",51.0,NaN

In [13]:
#for each attribute the system shows the type of data. The type of data is defined analyzing the values
MOVIES.dtypes

MOVIES       object
YEAR         object
GENRE        object
RATING      float64
ONE-LINE     object
STARS        object
VOTES        object
RunTime     float64
Gross        object
dtype: object

VOTES and Gross are not numeric type. I am going to convert them later, after performing some cleaning and normalization operations

In [17]:
MOVIES.shape

(9999, 9)

In [18]:
#number of not null values for each column
MOVIES.count()

MOVIES      9999
YEAR        9355
GENRE       9919
RATING      8179
ONE-LINE    9999
STARS       9999
VOTES       8179
RunTime     7041
Gross        460
dtype: int64

The columns MOVIES and ONE-LINE has no null values as they have 9999 values as the number of rows of dataset

# **Duplicated Records**

In [28]:
#seeking duplicate rows with exact matching
DUPLICATES = MOVIES.duplicated()
DUPLICATES

print(DUPLICATES.any())

True

In [20]:
MOVIES[DUPLICATES]

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
6833,Mighty Little Bheem,(2019– ),"\nAnimation, Short, Adventure",NaN,\nAdd a Plot\n,"\n Directors:\nRajiv Chilaka, \nKrishna Moh...",NaN,NaN,NaN
6835,Mighty Little Bheem,(2019– ),"\nAnimation, Short, Adventure",9.0,\nAdd a Plot\n,"\n Directors:\nRajiv Chilaka, \nKrishna Moh...",6,NaN,NaN
6836,Mighty Little Bheem,(2019– ),"\nAnimation, Short, Adventure",9.0,\nAdd a Plot\n,"\n Directors:\nRajiv Chilaka, \nKrishna Moh...",6,NaN,NaN
6837,Mighty Little Bheem,(2019– ),"\nAnimation, Short, Adventure",NaN,\nAdd a Plot\n,"\n Directors:\nRajiv Chilaka, \nKrishna Moh...",NaN,NaN,NaN
6838,Mighty Little Bheem,(2019– ),"\nAnimation, Short, Adventure",NaN,\nAdd a Plot\n,"\n Directors:\nRajiv Chilaka, \nKrishna Moh...",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
9989,1899,(2022– ),"\nDrama, History, Horror",NaN,\nAdd a Plot\n,\n Director:\nBaran bo Odar\n,NaN,NaN,NaN
9990,1899,(2022– ),"\nDrama, History, Horror",NaN,\nAdd a Plot\n,\n Director:\nBaran bo Odar\n,NaN,NaN,NaN
9991,1899,(2022– ),"\nDrama, History, Horror",NaN,\nAdd a Plot\n,\n Director:\nBaran bo Odar\n,NaN,NaN,NaN
9992,1899,(2022– ),"\nDrama, History, Horror",NaN,\nAdd a Plot\n,\n Director:\nBaran bo Odar\n,NaN,NaN,NaN
9994,The Imperfects,(2021– ),"\nAdventure, Drama, Fantasy",NaN,\nAdd a Plot\n,\n \n Stars:\nMorgan Taylor Camp...,NaN,NaN,NaN

# **Duplicated Titles**

In [22]:
#I check which movie titles have duplicates
MOVIES_COUNT = MOVIES['MOVIES'].value_counts()
MOVIES_COUNT

MOVIES
 Bleach: Burîchi                         65
 Mighty Little Bheem                     64
 Avatar: The Last Airbender              61
 La Reina de Indias y el Conquistador    60
 Dexter                                  48
                                         ..
Ashby                                     1
Syucheu                                   1
#Realityhigh                              1
Eobiseu                                   1
 Heart of Invictus                        1
Name: count, Length: 6817, dtype: int64

In [24]:
MOVIES['MOVIES'].unique()

array(['Blood Red Sky', 'Masters of the Universe: Revelation',
       'The Walking Dead', ..., ' Totenfrau', ' Arcane',
       ' Heart of Invictus'], dtype=object)

In [29]:
MOVIES['MOVIES'].nunique()

6817

In [ ]:
MOVIES['VOTES'] = MOVIES['VOTES'].str.replace(',', '', regex=True)
MOVIES['VOTES'] = pd.to_numeric(MOVIES['VOTES'], errors='coerce')  # Convert to numeric (keeps NaN)
# MOVIES['VOTES'] = MOVIES['VOTES'].fillna(0).astype(int)  # Fill NaN with 0 and convert
# MOVIES['VOTES'] = MOVIES['VOTES'].astype(int)

MOVIES['Gross'] = MOVIES['Gross'].str.replace('$,M', '', regex=True)
MOVIES['Gross'] = pd.to_numeric(MOVIES['Gross'], errors='coerce')  # Convert to numeric (keeps NaN)
# MOVIES['Gross'] = MOVIES['Gross'].fillna(0).astype(int)  # Fill NaN with 0 and convert
# MOVIES['Gross'] = MOVIES['Gross'].astype(int)

**COMPLETENESS**

The completeness of a table characterizes the extent to which a table represents the corresponding real world.

Completeness in the relational model can be characterized by the presence of null values. In a model with null values, the presence of a null value has the general meaning of a missing value, i.e., a value that exist in the real-world but it is not available.

*Definition*: The degree to which a given data collection includes the data describing the corresponding set of real-world objects.

*Evaluation*: Number of not null values / Total number of values

In [ ]:
#isnull() shows which values are null
MOVIES.isnull()

      MOVIES   YEAR  GENRE  RATING  ONE-LINE  STARS  VOTES  RunTime  Gross
0      False  False  False   False     False  False  False    False   True
1      False  False  False   False     False  False  False    False   True
2      False  False  False   False     False  False  False    False   True
3      False  False  False   False     False  False  False    False   True
4      False  False  False    True     False  False   True     True   True
...      ...    ...    ...     ...       ...    ...    ...      ...    ...
9994   False  False  False    True     False  False   True     True   True
9995   False  False  False    True     False   True   True     True   True
9996   False  False  False    True     False  False   True     True   True
9997   False  False  False    True     False  False   True     True   True
9998   False  False  False    True     False  False   True     True   True

[9999 rows x 9 columns]

In [31]:
MOVIES['Gross'].isnull()

0       True
1       True
2       True
3       True
4       True
        ...
9994    True
9995    True
9996    True
9997    True
9998    True
Name: Gross, Length: 9999, dtype: bool

In [ ]:
#number of null values for each column
MOVIES.isnull().sum()

MOVIES         0
YEAR         644
GENRE         80
RATING      1820
ONE-LINE       0
STARS        456
VOTES       1820
RunTime     2958
Gross       9999
dtype: int64

In [33]:
#total number of not null values
NOT_NULL = MOVIES.count().sum()
MOVIES.count().sum()

73130

In [37]:
#total number of null values
NULL = MOVIES.isnull().sum().sum()
MOVIES.isnull().sum().sum()

16861

In [38]:
#total number of cells
TOT = MOVIES.shape[0]*MOVIES.shape[1]
TOT

89991

In [39]:
TOT = NOT_NULL + NULL
TOT

89991

Completeness Evaluation:

In [40]:
COMPLETENESS = NOT_NULL / TOT

In [41]:
COMPLETENESS = '{0:.1f}%'.format(COMPLETENESS*100)
print(COMPLETENESS)

81.3%

Dealing with missing values with a different format:

In [42]:
MOVIES.isnull()

      MOVIES   YEAR  GENRE  RATING  ONE-LINE  STARS  VOTES  RunTime  Gross
0      False  False  False   False     False  False  False    False   True
1      False  False  False   False     False  False  False    False   True
2      False  False  False   False     False  False  False    False   True
3      False  False  False   False     False  False  False    False   True
4      False  False  False    True     False  False   True     True   True
...      ...    ...    ...     ...       ...    ...    ...      ...    ...
9994   False  False  False    True     False  False   True     True   True
9995   False  False  False    True     False  False   True     True   True
9996   False  False  False    True     False  False   True     True   True
9997   False  False  False    True     False  False   True     True   True
9998   False  False  False    True     False  False   True     True   True

[9999 rows x 9 columns]

In [59]:
#we added to the set of missing values also 'Add a Plot'
MISSING = ['\nAdd a Plot\n','\n']
MOVIES2 = pd.read_csv('https://raw.githubusercontent.com/lukamath/DIQ_Project/master/movies.csv', na_values = MISSING)

In [65]:
MOVIES2.isnull()

      MOVIES   YEAR  GENRE  RATING  ONE-LINE  STARS  VOTES  RunTime  Gross
0      False  False  False   False     False  False  False    False   True
1      False  False  False   False     False  False  False    False   True
2      False  False  False   False     False  False  False    False   True
3      False  False  False   False     False  False  False    False   True
4      False  False  False    True     False  False   True     True   True
...      ...    ...    ...     ...       ...    ...    ...      ...    ...
9994   False  False  False    True      True  False   True     True   True
9995   False  False  False    True      True   True   True     True   True
9996   False  False  False    True      True  False   True     True   True
9997   False  False  False    True      True  False   True     True   True
9998   False  False  False    True      True  False   True     True   True

[9999 rows x 9 columns]

In [62]:
#total number of new not null values
NOT_NULL2 = MOVIES2.count().sum()
MOVIES2.count().sum()

71409

In [63]:
#total number of null values after adding different format of null
NULL2 = MOVIES2.isnull().sum().sum()
MOVIES2.isnull().sum().sum()

18582

In [64]:
TOT2 = NOT_NULL2 + NULL2
TOT2

89991

In [66]:
COMPLETENESS2 = NOT_NULL2 / TOT2

In [67]:
COMPLETENESS2 = '{0:.1f}%'.format(COMPLETENESS2*100)
print(COMPLETENESS2)

79.4%

**ACCURACY**

*Definition*: The extent to which data are correct, reliable and certified.

Syntactic Accuracy is the closeness of a value v to the elements of the corresponding definition domain D.

Semantic Accuracy is defined as the closeness between a data value v and a data value v’.

It is possible to calculate the accuracy of an attribute, i.e., attribute (or column) accuracy, of a relation, i.e., relation accuracy, or of a whole database, i.e., database accuracy.

*Evaluation*: Number of accurate values / Total number of values

In [ ]:
#the styles data source contains the list of correct values for the attribute style in beers
STYLES = pd.read_csv('https://raw.githubusercontent.com/camillasancricca/DATADIQ/master/STYLES.csv')
STYLES

                               style
0                American Pale Lager
1            American Pale Ale (APA)
2                       American IPA
3     American Double / Imperial IPA
4                       American IPA
...                              ...
2405                     Belgian IPA
2406        American Amber / Red Ale
2407                     Schwarzbier
2408         American Pale Ale (APA)
2409        American Amber / Red Ale

[2410 rows x 1 columns]

In [ ]:
#now we check if the values attribute style in beers contain errors
BEERS = pd.read_csv('https://raw.githubusercontent.com/camillasancricca/DATADIQ/master/BEERS.csv')

In [ ]:
#correct values in beers are the ones contained in styles
CORRECT = BEERS['style'].isin(STYLES['style'])
CORRECT

0       True
1       True
2       True
3       True
4       True
        ...
2414    True
2415    True
2416    True
2417    True
2418    True
Name: style, Length: 2419, dtype: bool

In [ ]:
#we sum the true values in correct
CORRECT_STYLE = np.sum(CORRECT)
CORRECT_STYLE

2406

In [ ]:
#we count the not null values of the column style in beers
NOT_NULL_STYLE = BEERS['style'].count()
NOT_NULL_STYLE

2414

ACCURACY EVALUATION:

In [ ]:
ACCURACY_STYLE = CORRECT_STYLE/NOT_NULL_STYLE
ACCURACY_STYLE = '{0:.1f}%'.format(ACCURACY_STYLE*100)
print(ACCURACY_STYLE)

99.7%

In [ ]:
#we assume that the values of attribute ibu in beers are correct only if they belong to a 5 to 100 range
RANGE_CORRECT = range(5,100)

In [ ]:
#check Accuracy of ibu considering the acceptance range
CORRECT_IBU = sum(1 for item in BEERS['ibu'] if item in RANGE_CORRECT)
CORRECT_IBU

1360

In [ ]:
NOT_NULL_IBU = BEERS['ibu'].count()
NOT_NULL_IBU

1412

In [ ]:
ACCURACY_IBU = CORRECT_IBU/NOT_NULL_IBU
ACCURACY_IBU = '{0:.1f}%'.format(ACCURACY_IBU*100)
print(ACCURACY_IBU)

96.3%

**TIMELINESS**

*Definition*: The extent to which age of the data is appropriate for the task at hand.

Timeliness has two components: currency and volatility. Currency is a measure of how old the information is, based on how long ago it was recorded. Volatility is a measure of information instability/the frequency of change of the value for an entity attribute.
Currency = Age + (Delivery Time - Input Time)

*Evaluation*: Max(0, 1 - Currency/Volatility)

In [ ]:
dateparse = lambda x: datetime.strptime(str(x), '%d/%m/%Y')
PROPERTY = pd.read_csv('https://raw.githubusercontent.com/camillasancricca/DATADIQ/master/PROPERTY.csv', parse_dates=['TS_UPDATE'], date_parser=dateparse)

<ipython-input-43-1895d6336265>:2: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  PROPERTY = pd.read_csv('https://raw.githubusercontent.com/camillasancricca/DATADIQ/master/PROPERTY.csv', parse_dates=['TS_UPDATE'], date_parser=dateparse)

In [ ]:
PROPERTY

,ID,ST_NUM,ST_NAME,OWN_OCCUPIED,NUM_BEDROOMS,NUM_BATH,SQ_FT,TS_UPDATE
0,100001000,104.0,PUTNAM,Y,3,1,1000,2022-08-11
1,100002000,197.0,LEXINGTON,N,3,1.5,--,2022-06-22
2,100003000,NaN,LEXINGTON,N,NaN,1,850,2022-09-10
3,100004000,201.0,BERKELEY,12,1,NaN,700,2022-08-16
4,100005000,203.0,BERKELEY,Y,3,2,1600,2022-08-31
5,100006000,207.0,BERKELEY,Y,NaN,1,800,2022-09-15
6,100007000,NaN,WASHINGTON,NaN,2,HURLEY,950,2022-08-21
7,100008000,213.0,TREMONT,Y,1,1,70,2022-07-12
8,100009000,215.0,TREMONT,Y,na,2,1800,2022-07-25
9,100010000,216.0,BERELEY,Y,1,3,10,2022-09-27
10,100011000,10.0,LEINGTON,N,2,1,800,2022-08-21
11,100012000,213.0,TREMONT,Y,1,1,78,2022-07-12

In [ ]:
PROPERTY.dtypes

ID                       int64
ST_NUM                 float64
ST_NAME                 object
OWN_OCCUPIED            object
NUM_BEDROOMS            object
NUM_BATH                object
SQ_FT                   object
TS_UPDATE       datetime64[ns]
dtype: object

In [ ]:
#we assume that Volatility (the time in which information is valid in the real-world) is 80 days
#we assume also that the data are stored immediately (age = 0)
#now we compute the Currency and we add a column with its value for each tuple
VOLATILITY = 80
today = datetime(2023, 10, 3)
today

datetime.datetime(2023, 10, 3, 0, 0)

In [ ]:
PROPERTY['currency'] = today - PROPERTY['TS_UPDATE']
PROPERTY

,ID,ST_NUM,ST_NAME,OWN_OCCUPIED,NUM_BEDROOMS,NUM_BATH,SQ_FT,TS_UPDATE,currency
0,100001000,104.0,PUTNAM,Y,3,1,1000,2022-08-11,418 days
1,100002000,197.0,LEXINGTON,N,3,1.5,--,2022-06-22,468 days
2,100003000,NaN,LEXINGTON,N,NaN,1,850,2022-09-10,388 days
3,100004000,201.0,BERKELEY,12,1,NaN,700,2022-08-16,413 days
4,100005000,203.0,BERKELEY,Y,3,2,1600,2022-08-31,398 days
5,100006000,207.0,BERKELEY,Y,NaN,1,800,2022-09-15,383 days
6,100007000,NaN,WASHINGTON,NaN,2,HURLEY,950,2022-08-21,408 days
7,100008000,213.0,TREMONT,Y,1,1,70,2022-07-12,448 days
8,100009000,215.0,TREMONT,Y,na,2,1800,2022-07-25,435 days
9,100010000,216.0,BERELEY,Y,1,3,10,2022-09-27,371 days
10,100011000,10.0,LEINGTON,N,2,1,800,2022-08-21,408 days
11,100012000,213.0,TREMONT,Y,1,1,78,2022-07-12,448 days

In [ ]:
PROPERTY['currency'] = PROPERTY['currency'].dt.days
PROPERTY

,ID,ST_NUM,ST_NAME,OWN_OCCUPIED,NUM_BEDROOMS,NUM_BATH,SQ_FT,TS_UPDATE,currency
0,100001000,104.0,PUTNAM,Y,3,1,1000,2022-08-11,418
1,100002000,197.0,LEXINGTON,N,3,1.5,--,2022-06-22,468
2,100003000,NaN,LEXINGTON,N,NaN,1,850,2022-09-10,388
3,100004000,201.0,BERKELEY,12,1,NaN,700,2022-08-16,413
4,100005000,203.0,BERKELEY,Y,3,2,1600,2022-08-31,398
5,100006000,207.0,BERKELEY,Y,NaN,1,800,2022-09-15,383
6,100007000,NaN,WASHINGTON,NaN,2,HURLEY,950,2022-08-21,408
7,100008000,213.0,TREMONT,Y,1,1,70,2022-07-12,448
8,100009000,215.0,TREMONT,Y,na,2,1800,2022-07-25,435
9,100010000,216.0,BERELEY,Y,1,3,10,2022-09-27,371
10,100011000,10.0,LEINGTON,N,2,1,800,2022-08-21,408
11,100012000,213.0,TREMONT,Y,1,1,78,2022-07-12,448

In [ ]:
#adding a column with the Timeliness computation
#if Volatility is greater than Currency the Timeliness is equal to 1 - Currency / Volatility, otherwise is 0
PROPERTY['Timeliness'] = np.where(VOLATILITY>PROPERTY['currency'],
                                       1-(PROPERTY['currency']/VOLATILITY),
                                       0)
PROPERTY

,ID,ST_NUM,ST_NAME,OWN_OCCUPIED,NUM_BEDROOMS,NUM_BATH,SQ_FT,TS_UPDATE,currency,Timeliness
0,100001000,104.0,PUTNAM,Y,3,1,1000,2022-08-11,418,0.0
1,100002000,197.0,LEXINGTON,N,3,1.5,--,2022-06-22,468,0.0
2,100003000,NaN,LEXINGTON,N,NaN,1,850,2022-09-10,388,0.0
3,100004000,201.0,BERKELEY,12,1,NaN,700,2022-08-16,413,0.0
4,100005000,203.0,BERKELEY,Y,3,2,1600,2022-08-31,398,0.0
5,100006000,207.0,BERKELEY,Y,NaN,1,800,2022-09-15,383,0.0
6,100007000,NaN,WASHINGTON,NaN,2,HURLEY,950,2022-08-21,408,0.0
7,100008000,213.0,TREMONT,Y,1,1,70,2022-07-12,448,0.0
8,100009000,215.0,TREMONT,Y,na,2,1800,2022-07-25,435,0.0
9,100010000,216.0,BERELEY,Y,1,3,10,2022-09-27,371,0.0
10,100011000,10.0,LEINGTON,N,2,1,800,2022-08-21,408,0.0
11,100012000,213.0,TREMONT,Y,1,1,78,2022-07-12,448,0.0

In [ ]:
print("Average Timeliness: ", PROPERTY['Timeliness'].mean())
print("Maximum  Timeliness:", PROPERTY['Timeliness'].max())
print("Minimum Timeliness:", PROPERTY['Timeliness'].min())

Average Timeliness:  0.0
Maximum  Timeliness: 0.0
Minimum Timeliness: 0.0

**CONSISTENCY**

The consistency dimension captures the violation of semantic rules defined over (a set of) data items, where items can be tuples of relational tables or records in a file.

Semantic rules can be integrity constaints, data edits or business rules.

*Definition*: The satisfaction of semantic rules defined over a set of data items.

*Evaluation*: Number of consistent tuples / Total number of tuples

In [ ]:
PROPERTY = pd.read_csv('https://raw.githubusercontent.com/camillasancricca/DATADIQ/master/PROPERTY.csv')

In [ ]:
#we define a rule that the number of bathrooms should be lower than the number of bedrooms
#we add the column consistency
#we assign the value 1 if the rule is satisfied, 0 otherwise
PROPERTY['consistency'] = np.where(PROPERTY['NUM_BATH']>=PROPERTY['NUM_BEDROOMS'],
                                      0,
                                      1)
PROPERTY

,ID,ST_NUM,ST_NAME,OWN_OCCUPIED,NUM_BEDROOMS,NUM_BATH,SQ_FT,TS_UPDATE,consistency
0,100001000,104.0,PUTNAM,Y,3,1,1000,11/8/2022,1
1,100002000,197.0,LEXINGTON,N,3,1.5,--,22/6/2022,1
2,100003000,NaN,LEXINGTON,N,NaN,1,850,10/9/2022,1
3,100004000,201.0,BERKELEY,12,1,NaN,700,16/8/2022,1
4,100005000,203.0,BERKELEY,Y,3,2,1600,31/8/2022,1
5,100006000,207.0,BERKELEY,Y,NaN,1,800,15/9/2022,1
6,100007000,NaN,WASHINGTON,NaN,2,HURLEY,950,21/8/2022,0
7,100008000,213.0,TREMONT,Y,1,1,70,12/7/2022,0
8,100009000,215.0,TREMONT,Y,na,2,1800,25/7/2022,1
9,100010000,216.0,BERELEY,Y,1,3,10,27/9/2022,0
10,100011000,10.0,LEINGTON,N,2,1,800,21/8/2022,1
11,100012000,213.0,TREMONT,Y,1,1,78,12/7/2022,0

In [ ]:
#count the number of consistent tuples considering the rule
CONSISTENT = PROPERTY['consistency'] == 1
CONSISTENT = CONSISTENT.sum()

In [ ]:
#count the total number of tuples in the property dataset
COUNT = PROPERTY['consistency'].count()
COUNT

12

CONSISTENCY EVALUATION:

In [ ]:
CONSISTENCY = CONSISTENT / COUNT
CONSISTENCY = '{0:.1f}%'.format(CONSISTENCY * 100)
print(CONSISTENCY)

66.7%

**Summary:**

*General information on data*
- pandas.read_csv()
- DataFrame.shape()
- DataFrame.columns()
- DataFrame.head()
- DataFrame.dtypes()
- DataFrame.unique()
- DataFrame.nunique()
- DataFrame.value_counts()

*Duplication*
- DataFrame.duplicated()

*Completeness*
- DataFrame.isnull()
- DataFrame.count()
- DataFrame.sum()

*Accuracy*
- DataFrame.isin()
- range()
- numpy.sum()

*Timeliness*
- numpy.where()
- DataFrame.min(), DataFrame.max(), DataFrame.mean()
- datetime.strptime()
- DataFrame.dt.days()